snippet > "drop-down toggle" b
<details>
<summary>${1:show/hide}</summary>

${0}
</details>
endsnippet

snippet inline "inline equation"
$${0}$
endsnippet

snippet $$ "latex" bA
$$
${0}
$$
endsnippet

snippet txt "\text"
\text{${0}}
endsnippet

snippet ast "asterisks"
&#42;
endsnippet
