snippet println "println macro" bA
println!("$0");
endsnippet

snippet printtitle "Print title" b
let title = "${1:Title}";
let title_len = title.len();
let box_len = ${2:60};
println!("");
println!("{:=<1$}", "", box_len);
println!("{: >1$}", title, (box_len + title_len) / 2);
println!("{:=<1$}", "", box_len);
endsnippet
